* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:rgb(0, 0, 0)
}
body{
    background-color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;

}
.container{
    margin: auto;
    width: 1200px;
    margin-top: 20px;
    padding: 10px;
}
nav {
    width: 300px;
    height: 760px;
    background-color: chartreuse;
    float: left;
    box-sizing: border-box;
    padding: 10px;


}
section {
    width: 880px;
    height: 760px;
    margin-left: 10px;
    float:left;
    background-color: darkgrey;
    box-sizing: border-box;
    padding-left: 10px;

}
ul.menu{
    list-style: none;

}
ul.menu li{
    width: 250px;
    height: 50px;
    line-height: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(222, 222, 222);
    margin-top: 5px;
    box-sizing: border-box;
    padding: 10px;

}
.btn{
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: 1px; color:black;
    background-color:white;
}
.campo{
    width: 300px;
    height: 30px;
    border: 1px; color: darkgray;
    margin-top: 5px;
    margin-bottom: 10px;
}